<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - Music Store</title>

    <!--<link href="/Content/site.css" rel="stylesheet">-->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/Search.css" rel="stylesheet" />
    <script src="Scripts/modernizr-2.6.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/jquery.validate.min.js"></script>
    <script src="Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/jquery.validate-vsdoc.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/searchCtrl.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Nav Music Xbox</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="MusicBrainz.html">MusicBrainz</a></li>
                <li class="active"><a href="LastFM.html"><i class="glyphicon glyphicon-headphones redPointer"></i> Last fm</a></li>
                <li><a href="Favourites.html"><i class="glyphicon glyphicon-star yellowPointer"></i> Favorites</a></li>
                <li><a href="/Help">API</a></li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        <div class="container" ng-app="musicsearchApp" ng-controller="searchCtrl">
            <h2>Search Last.fm</h2>
            <!--http://musicbrainz.org/ws/2/artist?query=jackson&limit=100&offset=1&inc=release&fmt=json role="form" type="submit" class="navbar-form navbar-left" novalidate="novalidate" -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group input-group-md">
                        <input type="text" class="form-control input-md" placeholder="Search" id="query" name="query">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-md" type="submit" id="search"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                        <input type="text" id="limit" name="limit" value="10" style="display: none;" />
                        <input type="text" id="offset" name="offset" value="0" style="display: none;" />
                        <input type="text" id="inc" name="inc" value="releases" style="display: none;" />
                        <input type="text" id="fmt" name="fmt" value="json" style="display: none;" />
                    </div>
                </div>
            </div>

            <div ng-model="artists" ng-show="artists.length > 0">
                <div>
                    <h3 class ="grayBorder">Search Results:</h3>
                    <div class="pull-right">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myShortListModal"><i class="glyphicon glyphicon-eye-open"></i> short-list</button>
                    </div>
                </div>

                <div class="modal fade" id="myShortListModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">My short list.</h4>
                            </div>
                            <div class="modal-body" ng-model="shortListArtist">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-2"></div>
                                    <div class="col-md-11 col-sm-11 col-xs-10" style="font-size: medium; font-weight: bold;">Artist Name</div>
                                </div>
                                <div ng-repeat="artist in shortListArtist">
                                    <div class="row">
                                        <div class="grayBorder" style="line-height: 3em; vertical-align: middle;">
                                            <div class="col-md-1 col-sm-1 col-xs-2">
                                                <i class="glyphicon glyphicon-star bluePointer" style="font-weight: bold;" id="favItem"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 col-xs-10">{{artist}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <table id="results" class="table table-striped table-inverse">
                        <thead>
                            <tr>
                                <td style="font-size: medium; font-weight: bold;">
                                    <div class="row">
                                        <div class="col-md-1 col-sm-2 col-xs-3"></div>
                                        <div class="col-md-10 col-sm-8 col-xs-6">Artist Name</div>
                                        <div class="col-md-1 col-sm-2 col-xs-3">&nbsp;</div>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="art in artists">
                                <td>
                                    <div class="row">
                                        <div style="line-height: 3em; vertical-align: middle;">
                                            <div class="col-md-1 col-sm-2 col-xs-3">
                                                <img class="img-responsive" ng-show="{{art.image.length > 0}}" ng-src="{{art.image[1]['#text']}}" alt="" />
                                            </div>
                                            <div class="col-md-10 col-sm-8 col-xs-6" style="text-end-overflow: ellipsis;"><a href="{{art.url}}" target="_blank">{{art.name}}</a></div>
                                            <div class="col-md-1 col-sm-2 col-xs-3 pull-right" data-toggle="tooltip" title="Shortlist Artist">
                                                <i class="glyphicon glyphicon-plus-sign greenPointer" style="font-size: large;" id="shortList" ng-click="addToShortList(art.mbid,art.name)"></i>                                                
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="container">
            <p>© 2016 - Music Xbox Application</p>
        </footer>
    </div>
</body>
</html>
